
.testimonial-cards-section{
    @media (max-width : 890px) {
      width: 90%;
      display: flex;
      gap : 3%;
      overflow-y: auto;
    }

    @media (max-width : 510px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.testmonial-card-main{
    border-radius: 20px;
    width : 340px;
    height : 160px;
    display: flex;
    align-items: flex-start;
    gap: 5%;
    padding: 1% ;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.821);
    color: black;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.699);
    margin-bottom: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .testimonial-right-section {
        display: flex;
        flex-direction: column;
        gap: 10%;

        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 1.1rem;
        }

        span{
            max-height: 120px;
            text-wrap: wrap;
            margin-top: 2%;
            font-size: 0.8rem;
            overflow: auto;
            padding-right: 2%;
        }

        @media (max-width : 620px) {
            h3 {
                font-size: 0.8rem;
            }

            span {
                font-size: 0.7rem;
                font-weight: 500;
            }
        }
    }

    @media (max-width : 620px) {
        padding: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width : 490px) {
        height: 140px;
    }

    
}