.testimonial-cards-section{
    @media (max-width : 890px) {
      width: 90%;
      display: flex;
      gap : 3%;
      flex-wrap: wrap;
    }
}

.testmonial-card-main{
    border-radius: 20px;
    width : 340px;
    height : 160px;
    display: flex;
    align-items: flex-start;
    gap: 10%;
    padding: 8%;
    background-color: rgba(255, 255, 255, 0.821);
    color: black;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.699);
    margin-bottom: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .right-section {
        display: flex;
        flex-direction: column;
        gap: 10%;

        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
        }

        span{
            max-height: 120px;
            text-wrap: wrap;
            margin-top: 2%;
            font-size: 0.8rem;
            overflow: auto;
        }
    }

    @media (max-width : 890px) {
      height: 100px;
    }
}