html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.main {
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  color: white;

  /* fallback solid color that approximates your design */
  background-color: #47375e;

  /* then your full gradient + image */
  background-image:
    conic-gradient(
      from 360deg at 50% 50%,
      rgba(143, 119, 181, 0.729) 0%,
      rgba(64, 65, 71, 0.69) 0%
    );

  @media (max-width: 597px) {
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    height: auto;
  }
  
}

#text01 {
  font-family: 'Source Serif 4', serif;
  font-size: 5em;
  margin: 5px;
  line-height: 1.125;
  font-weight: 200;

  @media (max-width: 597px) {
    font-size: 3rem;
    margin-top: 5%;
  }

  @media (max-width: 380px) {
    font-size: 2.5rem;
  }
}

#text12{
  font-family: 'Slackside One', cursive;
  font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 400;

    @media (max-width: 590px) {
      font-size: 1.5rem;
    }

    @media (max-width: 490px) {
      font-size: 1.2rem;
    }

    @media (max-width: 380px) {
      font-size: 1rem;
    }
}

.inner {
  width : 70%;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  height : 590px;
  display: flex;
  flex-direction: column;
  animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
  0%{
    transform: translateX(-30%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.buttons{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  height : 100px;
  padding-left: 0;

  @media (max-width : 590px) {
    flex-wrap: wrap;
  }
}

a{
  display: flex;
  justify-content: center;
  width: 150px;
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #EBE9F0;
  background-image: linear-gradient(45deg, #BFBBC7 0%, rgba(235, 233, 240, 0.008) 100%);
  transition: transform 0.5s ease-in-out;

  @media (max-width : 590px) {
    width: 80px;
    font-size: 10px;
    padding: 12px;
  }
}

a:hover{
  /* transform: scale(1.05); */
  transform: scale(1.02);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
    0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
}

.buttons > li {

}

